/*
#F69FA1
#FEE496
#ABE0F9
#CDAFD3
#132041
#F69FA1*/


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdfcf7;
}

h1 {
    font-family: "Palanquin Dark";
    font-size: 25pt;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    font-family: "Palanquin Dark";
    font-size: 12pt;
}

p,
text,
label,
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #132041;
}

.nav-item {
    margin-right: 10em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #132041;
}

#navHome:hover {
    color: #A8E0F9;
}

#navStoornissen:hover {
    color: #F69FA1;
}

#navZoekHulp:hover {
    color: #FEE496;
}

#navLogin:hover {
    color: #CDAFD3;
}

.navbar-nav:first-child {
    margin-left: 10em;
}

.thumbnail {
    position: relative;
    margin-bottom: 10%;
}

.caption {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    font-size: large;
    color: #fdfcf7;
    font-size: 15pt;
}

.author {
    font-style: italic;
    font-weight: bold;
}

.homeEven {
    background-image: url("../_assets/Path\ 261.png");
}

.even {
    background-image: url("../_assets/Path\ 240.png");
}

.profielInfo {
    background-image: url("../_assets/Path\ 253.png");
    height: 600px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 80%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.even,
.homeEven {
    height: 600px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 80%;
}

.WatDoenWe {
    margin-right: 5%;
}

.wieZijnWe {
    margin-left: 5%;
}

.zoekHulpbutton {
    background-color: #132041;
    color: #fdfcf7;
    border: none;
}

.zoekHulp h1 {
    text-align: center;
}

.zoekHulpbutton:hover {
    color: #132041;
    border: solid 1px #FEE496;
    background-color: white;
}

.infoButton {
    background-color: #132041;
    color: #fdfcf7;
    border: none;
}

.infoButton:hover {
    background-color: #fdfcf7;
    color: #132041;
    border: solid 1px #132041;
}

.zoekHulpDiv {
    background-image: url("../_assets/Path\ 250.png");
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 100%;
}

.commentColor,
.usernameComment {
    color: #fdfcf7;
}

/*.loginForm {
    background-image: url("../_assets/Path\ 250.png");
    height: 600px;
    /* You must set a specified height 
    background-position: top;
    /* Center the image 
    background-repeat: no-repeat;
    /* Do not repeat the image 
    background-size: 50%;
}*/

p.zoekHulpDiv {
    font-size: 5pt;
}

.zoekHulpDiv {
    margin-top: 2%;
}


/*.oneven {
    text-align: right;
    float: right;
    width: 60%;
    padding-right: 10%;
    margin: 5%;
}*/

.stoornisText {
    width: 40%;
    font-size: 11pt;
}

.stoornisDiv {
    margin-bottom: 10%;
}

.detailStoornis {
    width: 50%;
    margin-left: 10%;
}

.terugStroonis:hover {
    background-color: #F69FA1;
    color: black;
    border-radius: 10px;
    border: none;
}

.terugStroonis {
    margin-left: 10%;
    width: 10%;
    border-radius: 10px;
    border: solid 1.5px #F69FA1;
    background-color: white;
    color: #F69FA1;
}

.divTextarea {
    position: absolute;
    top: 750px;
    width: 48%;
    margin-left: 10%;
}

.divTextarea textarea {
    resize: none;
    border: 1px solid #F69FA1;
    height: 70px;
    outline: none;
}

.stoornisTitel {
    margin-left: 10%;
    color: #F69FA1;
    font-weight: bold;
}

.divTextareaButton {
    margin-top: 1em;
    background-color: #F69FA1;
    font-weight: bold;
    color: white;
}

.divTextareaButton:hover {
    color: #F69FA1;
    font-weight: bold;
    background-color: white;
    border: solid 2px #F69FA1;
}

.video {
    height: 450px;
}

.verhaal {
    background-color: #CDAFD3;
    margin: 1em 0;
    padding: 1em;
    border-radius: 10px;
    font-size: 14pt;
}

.comment {
    background-color: #F69FA1;
    margin: 1em 0;
    padding: 1em;
    border-radius: 10px;
    font-size: 14pt;
    width: 100%;
}

.divTextareaGetInput {
    border-radius: solid 1, 5px #A8E0F9;
}

.detailVideo {
    margin: 2% 10%;
}

.zoekHulpText {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    grid-column-gap: 100px;
    grid-row-gap: 10px;
    justify-content: center;
}

.mainDivZoekHulp {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.zoekHulpDiscriptie {
    text-align: center;
}

.voegToe,
.loginButton,
.bewerkUpdatedUser,
.dagboekVerstuur {
    background-color: #CDAFD3;
    border: none;
    margin: 5% 0;
}

.voegToe:hover,
.loginButton:hover,
.bewerkUpdatedUser:hover,
.dagboekVerstuur:hover {
    color: #CDAFD3;
    border: 1px solid #CDAFD3;
    background-color: white;
}

#toevoegenForm {
    width: 60%;

}

#updateProfileForm input {
    margin: 2%;
    width: 110%;
}

#updateProfileForm {
    margin: 2%;
}

.newUserForm,
.loginForm,
.updateProfile,
.dagboekContent {
    display: block;
    text-align: center;
}

.newUserForm form,
#form form,
#formUpdate form,
.dagboekAppendVerhaal {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#form {
    margin: 3%;
}

.dagboekTitel,
.dagboekVerhaal {
    padding: 0.5em;
    width: 70%;
    resize: none;
    border: 2px solid #CDAFD3;
    border-radius: 10px;
    outline: none;
}

.dagboekVerhaal {
    height: 200px;
}

.dagboekTitel {
    height: 40px;
    margin-bottom: 2%;
}

.dagboekVerstuur {
    margin-top: 2%;
}

.dagboekContent {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dagboekH1 {
    margin-bottom: 2%;
}

.verhaal {
    width: 1000px;
}



/*
p.stoornisDiv {
    width: 70%;
    padding: 20%;
}

.zoekHulp {
    width: 40%;
}

.stoornisDiscriptie {
    margin: 5% 0;
}

.divImg {
    margin-bottom: ;
}*/

/*.header {
    width: 100%;
    height: 80px;
    background-color: red;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
}
.header > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 80px;
}
https://stackoverflow.com/questions/30624709/css-html-navigation-and-logo-on-same-line/30624865*/
/*.logo {
    width: 8%;
}

.header {
    overflow: hidden;
    /*background-color: #0054A4;
}

.header a,
.header img {
    text-align: center;
    color: black;
    float: left;
    margin-right: 5em;
    padding: 1.2em;
    list-style: none;
    font-size: 17px;
    text-decoration: none;
}

.header a {
    margin-top: 2em;
}

.header img {
    padding: 0;
}


.zoekHulpbutton {
    border: 2px solid #4CAF50;
    border-radius: 20px;
    width: 120px;
}

/*home
.homeVideo {
    width: 100%;
    height: auto;
}

.inspoQuotes {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.svg {
    width: 100%;
    height: auto;
}

.svgText {
    font: italic 30px sans-serif;
}

.pQuote {
    text-align: center;
}

.divWieZijnWe,
.divWatDoenWe {
    padding: 100px;
}

.divWieZijnWe,
.homeLogoL {
    float: right;
    width: 50%;
}

.divWatDoenWe,
.homeLogoR {
    float: left;
    width: 50%;
}

.homeLogoL,
.homeLogoR {
    width: 30%;
}

.StruktrFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}


/*profiel*/


/*stoornissen

.container{
    position: relative;
    bottom: 8px;
    left: 15%;
}

.hersenen{
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.hersenen p, .depressie p{
    width: 30%;
    padding: 1em 0;
}

.depressie h1{
text-align: center;
}

.depressie p{
    text-align: right;
    float: right;

}

.containerLeft {
    background-image: url("../_assets/backgroundStoornis.png");
    /*background-color: #4CAF50;
    background-size: 70%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.hersenen {
    text-align: left;
    width: 30%;
    position: absolute;
    display: inline-block;
    top: 45%; /*wie zijn we
    left: 35%;
    transform: translate(-50%, -50%); /*zoek hulp
}

.logoHersenen {
    width: 20%;
    float: right;
}

.test {
    display: inline;
}

.containerRight {
    background-image: url("../_assets/backgroundStoornis.png");
    background-size: 70%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.depressie {
    text-align: right;
    background-color: cornflowerblue;
    width: 30%;
    position: absolute;
    top: 45%; /*wie zijn we
    right: 10%;
    transform: translate(-50%, -50%); /*zoek hulp
}

.detailStoornis video {
    width: 40%;
    height: auto;
    padding-left: 10%;
}

.detailStoornis p {
    float: right;
    width: 40%;
}*/