/*
#F69FA1
#FEE496
#ABE0F9
#CDAFD3
#132041
#F69FA1*/


* {
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Palanquin Dark" ;
    font-size: 30pt;
}

p,
text,
a{
    font-family: Montserrat;
}

/*.header {
    width: 100%;
    height: 80px;
    background-color: red;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
}
.header > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 80px;
}
https://stackoverflow.com/questions/30624709/css-html-navigation-and-logo-on-same-line/30624865*/
.logo{
    width: 8%;
}

.header {
    overflow: hidden;
    /*background-color: #0054A4;*/
}

.header a,
.header img{
    text-align: center;
    color: black;
    float: left;
    margin-right: 5em;
    padding: 1.2em;
    list-style: none;
    font-size: 17px;
    text-decoration: none;
}

.header a{
    margin-top: 2em;
}

.header img{
    padding: 0;
}


.zoekHulpbutton{
    border: 2px solid #4CAF50;
    border-radius: 20px;
    width: 120px;
}

/*home*/
.homeVideo{
    width: 100%;
    height: auto;
}

.inspoQuotes{
    margin: auto;
    width: 70%;
    padding: 10px;
}

.svg{
    width: 100%;
    height: auto;
}

.svgText{
    font: italic 30px sans-serif;
}

.pQuote{
    text-align: center;
}

.divWieZijnWe,
.divWatDoenWe{
    margin: auto;
    width: 45%;
    padding: 100px;
}
.divWieZijnWe,
.homeLogoL{
   float: right;
}

.divWatDoenWe,
.homeLogoR{
    float: left;
}

.homeLogoL,
.homeLogoR{
    width: 30%;
}

.StruktrFooter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}


/*profiel*/


/*stoornissen

.container{
    position: relative;
    bottom: 8px;
    left: 15%;
}

.hersenen{
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.hersenen p, .depressie p{
    width: 30%;
    padding: 1em 0;
}

.depressie h1{
text-align: center;
}

.depressie p{
    text-align: right;
    float: right;

}*/

.containerLeft {
    background-image: url("../_assets/backgroundStoornis.png");
    /*background-color: #4CAF50;*/
    background-size: 70%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.hersenen {
    text-align: left;
    width: 30%;
    position: absolute;
    display: inline-block;
    top: 45%; /*wie zijn we*/
    left: 35%;
    transform: translate(-50%, -50%); /*zoek hulp*/
}
.logoHersenen{
    width: 20%;
    float: right;
}

.test{
    display: inline;
}

.containerRight {
    background-image: url("../_assets/backgroundStoornis.png");
    background-size: 70%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.depressie {
    text-align: right;
    background-color: cornflowerblue;
    width: 30%;
    position: absolute;
    top: 45%; /*wie zijn we*/
    right: 10%;
    transform: translate(-50%, -50%); /*zoek hulp*/
}

.detailStoornis video{
    width: 40%;
    height: auto;
    padding-left: 10%;
}

.detailStoornis p{
    float: right;
    width: 40%;
}





